html {
    scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 805px;
    background-color: #eff0f2;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 88px;
    height: 16px;
    border: 5px solid #170f1c;
    padding: 9px 8px;
    margin: 65px 0 0 150px;
}

h1 {
    color: #505050;
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.4;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-shadow: 4px 8px 6px #c8c8ca;
    margin-top: 190px;
    padding-left: 90px;
}

.mint {
    background: #b2f2ee; 
    color: #505050; 
    padding: 0 12px; 
    margin: 0 6px;
}

header button {
    color: #606061;
    background: none;
    width: 232px;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 2px;
    border: 2px solid #777879;
    border-radius: 1px;
    margin: 138px 0 0 44.8%;
}

header div {
    margin-left: 83.2%;
}

.cork_coaster {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 1;
    bottom: 10px;
}

.glass {
    width: 66px;
    height: 67px;
    position: relative;
    z-index: 2;
    bottom: 25px;
    right: 65px;
}

.about_us {
    height: 870px;
    background-color: #f8fafa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 115px;
}

h2 {
    color: #181919;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 110px;
}

h4 {
    color: gray;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 6px 0 0 75px;
}

.about_work {
    display: flex;
    padding: 145px 0 0 230px;
}

.workplace {
    width: 392px;
    height: 484px;
    box-shadow: 0 0 10px 10px #eaecec;
}

.work_info {
    width: 470px;
    letter-spacing: 0.5px;
    text-align: justify;
    padding-left: 155px;
}

h3 {
    color: #3e3f3f;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 3px;
}

.work_info p {
    color: #3e3f3f;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    padding-bottom: 28px;
}

h5 {
    color: #3e3f3f;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0 15px 0;
}

.works {
    height: 1050px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 115px;
}

.work_examples {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 360px);
    grid-column-gap: 14px;
    grid-row-gap: 12px;
    margin: 120px 0 0 150px;
}

.work_examples img {
    width: 370px;
    height: 360px;
}

.team_part {
    height: 1200px;
    background-color: #f9fbfb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 85px;
}

.team_members {
    height: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 440px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 120px 0 0 150px;
}

.team_members img {
    width: 370px;
    height: 440px;
}

.member_info {
    width: 252px;
    height: 160px;
    background-color: #6eeee4;
    color: #3e3f3f;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    left: 18px;
    bottom: 260px;
    padding: 38px;
    visibility: hidden;
}

.member_info p {
    line-height: 1.4;
}

.member_name {
    color: #3e3f3f;
    font-size: 20px;
    font-weight: 600;
}

.member_position {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    padding: 10px 0 10px 0;
}

.member_info img {
    width: 14px;
    height: 12px;
    margin: 33px 10px 0 0;
}

.small_socials {
    display: flex;
}

footer {
    color: #c9cdd0;
    font-family: Arial, Helvetica, sans-serif;
    height: 1050px;
}

.all_form {
    background-image: url(assets/christmas_snow_trees.png);
    background-size: cover;
    display: flex;
    padding-top: 198px;
    height: 582px;
}

form {
    width: 613px;
    height: 460px;
    margin-left: 150px;
}

#my_form div {
    padding: 20px 30px 0 30px;
}

#my_form p {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
}

.contacts {
    width: 500px;
    height: 460px;
    margin-left: 26px;
}

.contacts div {
    padding: 30px 0 0 30px;
}

.contacts p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}

.semiopacity {
    background: #0e2736;
    opacity: 0.7;
    color: rgb(240, 240, 240);
}

input {
    height: 42px;
    padding-top: 14px;
    outline: none;
}

textarea {
    height: 100px;
    padding-top: 30px;
}

input, textarea {
    width: 98%;
    padding-left: 3px;
    border: none;
}

hr {
    border: none; 
    color: #c6cbcf;
    background-color: #c6cbcf;
    height: 1px; 
   }

::placeholder { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    opacity: 1;
}

a {
    text-decoration: none;
    color: #c6cbcf;
}

.google_map {
    width: 455px;
    height: 224px;
    margin: 20px;
}

.send {
    width: 245px;
    height: 54px;
    border: none;
    background-color: #6eeee4;
    color: #214744;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 37px;
    padding-bottom: 10px;
}

button:focus {
    outline: 0;
}

.follow_us {
    height: 316px;
    background-color: #262b2e;
}

h6 {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 90px 0 16px 85px;
}

.socials {
    display: flex;
    margin-left: 45.6%;
}

.socials div {
    width: 47px;
    height: 40px;
    background-color: #424648;
    margin-right: 6px;
}

.socials img {
    margin: 10px 0 0 15px;
}

.logo:hover {
    border: 5px solid #6eeee4;
}

header button:hover {
    background: #6eeee4;
    font-weight: bolder;
    word-spacing: 4px;
    letter-spacing: 3px;
}

.socials div:hover {
    background-color: #6eeee4;
}

/* .member_info:hover {
    visibility: visible;
} */
